{{> _lNavbar}}
{{> _flashmsg}}
<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="/css/healthcare.css">
    <style>
       .title2{
    color: #1e2f3c;
    font-family: var(--font-family-inter);
    font-size: 24px;
    font-weight: 700px;
    letter-spacing: -1px;
    line-height: normal;
    
    width: 900px;
    font-weight: bold;
    
}


    </style>
</head>
<body>
<div class="frame-33605">
    <hr class="medical-records hr-lines "></hr>
    <div class="title2 ">Welcome to  {{name}}   Health Records! </div>
    
    <div class="overlap-group10">
        <div class="health-records">Health Records</div>
        
    </div>

    <div class="flex-row-frame-33605">
        <div class="group-container-1 group-container">
            <div class="overlap-group8">
                <div class="rectangle-34624617"></div>
                <div class="view-your-immunisation-record inter-light-black-14px">
                    View your immunisation record
                </div>
                <div class="immunisation inter-medium-black-23px">Immunisation</div>
            </div>
            <div class="button-2">
                
                <a href="/healthcarerecord/migrantviewimm/{{id}}" class="text roboto-normal-tundora-14px"> View </a>
            </div>
            <div class="group-33608">
                <div class="overlap-group-4">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="flex-row-frame-336056">
        <div class="group-container-1 group-container">
            <div class="overlap-group8">
                <div class="rectangle-34624617"></div>
                <div class="view-your-family inter-light-black-14px">
                    View the medical illness your family member have
                </div>
                
                <div class="immunisation2 inter-medium-black-23px">Family History</div>
                
            </div>
            
            <div class="button-second">
                
                <a href="/healthcarerecord/migrantviewfam/{{id}}" class="text roboto-normal-tundora-14px"> View </a>
            </div>
            <div class="group-33608">
                <div class="overlap-group-4">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="flex-row-frame-336057">
        <div class="group-container-1 group-container">
            <div class="overlap-group8">
                <div class="rectangle-34624617"></div>
                <div class="view-your-immunisation-record inter-light-black-14px">
                    View your medication records here
                </div>
                <div class="immunisation inter-medium-black-23px">Medications</div>
            </div>
            <div class="button-three">
                
                <a href="/healthcarerecord/migrantmed/{{id}}" class="text roboto-normal-tundora-14px"> View </a>
            </div>
            <div class="group-33608">
                <div class="overlap-group-4">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="flex-row-frame-336058">
        <div class="group-container-1 group-container">
            <div class="overlap-group8">
                <div class="rectangle-34624617"></div>
                <div class="view-your-immunisation-record inter-light-black-14px">
                    View your allergies records here
                </div>
                <div class="immunisation inter-medium-black-23px">Allergies</div>
            </div>
            <div class="button-four">
                
                <a href="/healthcarerecord/migrantallergy/{{id}}" class="text roboto-normal-tundora-14px"> View </a>
            </div>
            <div class="group-33608">
                <div class="overlap-group-4">
                    
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>